services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  ingestor:
    build: ./ingestor
    container_name: ingestor
    depends_on:
      - kafka
    environment:
      WS_URL: wss://ws-fapi.binance.com/ws-fapi/v1
      KAFKA_BROKER: kafka:9092
      KAFKA_TOPIC: tick-events
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: always

  redis-storage:
    build: ./redis-storage
    container_name: redis-storage
    depends_on:
      - kafka
      - redis
    environment:
      KAFKA_BROKER: kafka:9092
      KAFKA_TOPIC: tick-events
      KAFKA_GROUP_ID: redis-consumer
      REDIS_HOST: redis
      REDIS_PORT: 6379
    restart: always

volumes:
  pgdata:
  redisdata:
